@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
    font-style: normal;
    font-weight: 400;
}

* {
  font-family: 'OpenSans';
}

body {
    width: 100%;
    height: 100%;
    background-color: rgba(239, 239, 239, 0.635);
}

header {
    height: 125px;
    width: 100%;
    background-color: rgba(239, 239, 239, 0.635);
    border-bottom: 2px solid rgb(91, 246, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.header-image {
    height: 100px;
    width: auto;
}

.header-menu-icon {
    height: 40px;
    width: auto;
}

button:hover {
    cursor: pointer;
}

.container {
    display: flex;
}

main {
  display: flex;
}

.sidebar {
    height: 100vh;
    width: 350px;
    background-color: white;
    font-family: 'OpenSans';
    font-size: 1.2rem;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.sub-title {
    display: flex;
    gap: 20px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    padding-left: 15px;
}

.sub-title:hover {
    background-color: #c6c6c6;
    cursor: pointer;
    border-radius: 5px;
}

.sub-title2 {
  display: flex;
  gap: 20px;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 7px;
  padding-left: 15px;
}

.home-svg {
    height: 25px;
    width: auto;
}

.plus-svg {
    height: 25px;
    width: auto;
}

.sidebar h2 {
  border-bottom: 2px solid black;
}

.content {
    height: 100vh;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-div div {
  display: flex;
  align-items: center;
}

#name{
  height: 40px;
  font-family: 'OpenSans';
  font-size: 1rem;
  padding-left: 15px;
}

.form-buttons-div {
  justify-content: center;
  gap: 10px;
}

#add-button {
  background-color: rgb(10, 240, 10);
  color: white;
  font-weight: 800;
  height: 30px;
  width: 75px;
  font-family: 'OpenSans';
  border: none;
  border-radius: 3px;
}

#cancel-button {
  background-color: red;
  color: white;
  font-weight: 800;
  height: 30px;
  width: 75px;
  font-family: 'OpenSans';
  border: none;
  border-radius: 3px;
}

.project-list-item {
  font-family: 'OpenSans';
  display: flex;
  gap: 20px;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 7px;
  padding-left: 15px;
}

.project-list-item:hover {
  background-color: rgb(148, 250, 177);
  border-radius: 5px;
  cursor: pointer;
}

.project-list-item img {
  height: 25px;
  width: auto;
}

.title-block {
  width: 100%;
  height: 100px;
  background-color: rgb(12, 230, 12);
  font-family: 'OpenSans';
  margin: 20px;
  padding-left: 15px;
}

.title {
  color: white;
}

.left {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex: 0 0 100px;
}

/* .right:hover {
  background-color: #c6c6c672;
} */

.task-button-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 50px;
  height: 60px;
  padding-left: 40px;
}

.task-button-div:hover {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.task-button-span {
  font-family: 'OpenSans';
  font-size: 1.2rem;
}

.star-svg {
  height: 25px;
  width: auto;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.new-task-item {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.task-title-span, .task-date-span, .star-span {
  font-family: 'OpenSans';
  font-size: 1.2rem;
}

.star-div {
  display: flex;
  justify-content: space-between;
}

.task-details-span {
  font-family: 'OpenSans';
  font-size: .8rem;
}

.date-div {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.task-right, .task-left {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.new-task-form-div {
  background-color: white;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.new-task-form-div input {
  width: 100%;
}

.hidden {
    display: none;
}

.hidden2 {
  transform: scale(0);
}

label {
  display: block;
  font-weight: 800;
}

.dots-svg {
    height: 25px;
    width: 25px;
}


.options-menu {
  height: 80px;
  width: 80px;
  font-family: 'OpenSans';
  font-size: 1.2rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position:absolute; 
  left: 20px;
  bottom: 20px;
  border-radius: 5px;
}

.option-item {
  width: 100%;
  padding: 3px;
  text-align: center;
}

.option-item:hover {
  background-color: #ddd9d9;
  cursor: pointer;
  border-radius: 5px;
}

.dots-container:hover {
  background-color: #ddd9d9;
  cursor: pointer;
  border-radius: 5px;
}

.dots-selected {
  background-color: #ddd9d9;
  cursor: pointer;
  border-radius: 5px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


/* TOGGLE SWITCH */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #262728;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2c2d2d;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .selected {
    background-color: #c6c6c6;
    border-radius: 5px;
  }

  .filled {
    filter: invert(84%) sepia(66%) saturate(1882%) hue-rotate(355deg) brightness(99%) contrast(103%);
    fill: #ffee00;
  }

  .hidden-project-form {
    /* position:absolute; */
    font-family: 'OpenSans';
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    padding-left: 15px;
  }

  .hidden-project-form input {
    width: 100%
  }

  .really-hidden {
    display: none;
  }

  .check-svg {
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }

  .check-div {
    position: relative;
    height: 25px;
    width: 25px;
    border: 1px solid rgb(67, 184, 0);
    border-radius: 50%;
  }

  .check-div:hover {
    cursor: pointer;
  }

  /* .new-task-item::before {
    position: absolute;
    content: '';
    width:auto;
    height: 16px;
    background-color: black;
  } */

  .line-through {
    text-decoration: line-through;
  }  
  
  .new-task-item-completed {
    width: 95%;
    height: 60px;
    border: 1px solid rgb(157, 157, 157);
    background-color: rgba(0, 0, 0, 0.042);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color:#ccc;
  } 
  
  .minus-svg {
    height: 20px;
    width: auto;
  }